:root {
	--background: #E6FFF2;
	--foreground: #153448;
	--dark-green: #103228;
	--green: #A8CD89;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	font-size: 16px;

	background-color: var(--background);
	color: var(--foreground);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
	margin: 0;
}

:is(p, li) {
	margin: 0.5em 0;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

:is(button, a.cta) {
	padding: 0.5em 1em;
	display: inline-block;

	background-color: var(--green);
	color: var(--foreground);

	border: none;
	border-radius: 0.25em;

	font-size: 1em;
	cursor: pointer;
	transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

:is(button, a.cta):hover {
	background-color: var(--dark-green);
	color: var(--background);
}

::selection {
	background-color: var(--green);
	color: var(--foreground);
}

.material-symbols-rounded {
	position: relative;
	top: 0.2em;
}
