:root {
	--background: #e6fff2;
	--foreground: #153448;
	--dark-green: #103228;
	--green: #a8cd89;
}

* {
	box-sizing: border-box;
}

.block {
	display: block;
	width: 100%;
}

.grid-base {
	display: grid;
	gap: 1rem;
}

.hr-text {
	text-align: center;
}

.hr-text::before,
.hr-text::after {
	width: 40%;
	height: 1px;
	margin-inline: 0.5rem;
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-color: currentColor;
}

i.prefix-icon {
	margin-right: 0.3rem;
}
